* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to the entire body */
body {
    color: #000000;
    background-color: #d8d6d6;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to the header */
header {
    padding: 20px 35px;
}

.header-section, .subheader-container{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    margin: 20px 20%;
}

.view-score {
    color: #df8837;
}

.timer {
    display: inline;

}

.main-section{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    text-align: center;
    margin: 20px 20%;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #6957cc;
    min-height: 350px;
}

.main-section section {
    padding: 0 36px;
}

.question, .description{
    text-align: left;
    padding: 0 6px;
    font-weight: bold;
}

.description {
    text-align: center;
}

.answer-section {
    display: flex;
    align-items: flex-start;
}

.options {
    display: inline-grid;
    grid-template-columns: 1fr;
}

.options button {
    transition-duration: 0.2s;
}

.options button:hover, .submit-form button:hover {
    background-color: #8525bd;
}

.choice, .start-btn, .submit-btn, .retry-btn{
    background-color: #6957cc;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.subheader-container {
    padding: 0 45px;
}

.result-prompt {
    font-style: italic;
    font-weight: normal;
    color: #696262;
}

.penalty-prompt {
    color: #d31313;
    animation: fadeOut 2s;
    opacity: 0;
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

.score-container {
    display: none;
    margin: 5px 0;
}

.score-list {
    list-style: none;
    color: #14a014;
}

.player-score {
    padding: 2px 23%;
}

.end-menu {
    margin: 50px auto;
}

.end-menu h1 {
    font-size: 36px;
}

.end-menu h2 {
    font-weight: normal;
    text-align: left;
}

.submit-form {
    display: flex;
    align-items: center;
}

section.end-menu * {
    padding: 6px 0;
}

footer {
    padding: 20px 25px;
    text-align: left;
    position: absolute;
    bottom: 0;
}

/* media queries */
@media screen and (max-width: 980px){
    .main-section {
        margin: 20px 10%;
    }

    .header-section, .subheader-container{
        margin: 20px 10%;
    }

    .player-score {
        padding: 2px 15%;
    }
}

@media screen and (max-width: 768px){
    .main-section {
        margin: 20px 5%;
    }

    .header-section, .subheader-container{
        margin: 20px 5%;
    }
    
    .player-score {
        padding: 2px 11%;
    }
}

@media screen and (max-width: 575px){
    .main-section {
        margin: 20px 1%;
    }

    .header-section, .subheader-container{
        margin: 20px 1%;
    }
    
    .player-score {
        padding: 2px 9%;
    }
}

